## [spark-sas7bdat](https://github.com/saurfang/spark-sas7bdat)

### 引入（如果没有下载过，会自动下载）spark-sas7bdat插件
* 学习spark插件的使用
* 学习使用spark读取SAS数据（sas7bdata格式）

In [1]:
%load_ext autotime

In [2]:
import warnings
warnings.filterwarnings('ignore')

time: 501 µs

In [3]:
from pyspark import SparkConf
conf=SparkConf()\
.set("spark.jars.packages","saurfang:spark-sas7bdat:2.1.0-s_2.11")

time: 72.5 ms

### 创建SparkSession实例

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
.master("local[*]")\
.config(conf=conf)\
.getOrCreate()

time: 5.88 s

### 读取sas7bdat文件

In [5]:
df=spark.read\
.format('com.github.saurfang.sas.spark')\
.load("ymw.sas7bdat")

time: 1.49 s

In [6]:
type(df)

pyspark.sql.dataframe.DataFrame

time: 8.45 ms

### 打印表结构

In [7]:
df.printSchema()

root
 |-- year: double (nullable = true)
 |-- month: double (nullable = true)
 |-- week: double (nullable = true)
 |-- yearmonth: double (nullable = true)
 |-- yearweek: double (nullable = true)
 |-- monthorder: double (nullable = true)
 |-- weekorder: double (nullable = true)
 |-- purchasetime: date (nullable = true)

time: 24.4 ms

### 以parquet格式存储读入的sas7bdat

In [8]:
df.write.parquet("ymw",mode="overwrite")

time: 2.6 s

In [9]:
df=spark.read.parquet("ymw")

time: 267 ms

In [10]:
df.show(5)

+------+-----+----+---------+--------+----------+---------+------------+
|  year|month|week|yearmonth|yearweek|monthorder|weekorder|purchasetime|
+------+-----+----+---------+--------+----------+---------+------------+
|2010.0|  1.0| 1.0| 201001.0|201001.0|       1.0|      1.0|  2010-01-01|
|2010.0|  1.0| 1.0| 201001.0|201001.0|       1.0|      1.0|  2010-01-02|
|2010.0|  1.0| 1.0| 201001.0|201001.0|       1.0|      1.0|  2010-01-03|
|2010.0|  1.0| 1.0| 201001.0|201001.0|       1.0|      1.0|  2010-01-04|
|2010.0|  1.0| 1.0| 201001.0|201001.0|       1.0|      1.0|  2010-01-05|
+------+-----+----+---------+--------+----------+---------+------------+
only showing top 5 rows

time: 363 ms

In [11]:
df.limit(5).toPandas()

,year,month,week,yearmonth,yearweek,monthorder,weekorder,purchasetime
0,2010.0,1.0,1.0,201001.0,201001.0,1.0,1.0,2010-01-01
1,2010.0,1.0,1.0,201001.0,201001.0,1.0,1.0,2010-01-02
2,2010.0,1.0,1.0,201001.0,201001.0,1.0,1.0,2010-01-03
3,2010.0,1.0,1.0,201001.0,201001.0,1.0,1.0,2010-01-04
4,2010.0,1.0,1.0,201001.0,201001.0,1.0,1.0,2010-01-05

time: 204 ms

### 关闭spark连接

In [12]:
spark.stop()

time: 295 ms